body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .button{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}


/* Person generics */
.person {
  -webkit-animation: boogie 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  margin: 2em;
  display: inline-block;
  width: 80px;
  height: 110px;
  position: relative;
}
.person > div {
  background: url("") no-repeat center center;
  border-radius: 20%;
  /*border:1px solid blue;*/
}
.person .person-head {
  width: 48px;
  height: 60px;
  margin: 0 auto;
  transform-origin: 50% 100%;
  /*border-radius: 50%;*/
  background-image: url('../newShawn.png');
}
.person .person-body {
  width: 30px;
  height: 50px;
  background-image: url('../img/body.png');
  margin: 0 auto;
  position: relative;
  z-index: 200;
}
.person .person-arm {
  width: 12px;
  height: 40px;
  position: absolute;
  top: 60%;
}
.person .person-arm.person-arm-l {
  -webkit-animation: clapLeft 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-image: url('../img/larm.png');
  left: 12%;
  transform-origin: 60% 12%;
}
.person .person-arm.person-arm-r {
  -webkit-animation: clapRight 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-image: url('../img/rarm.png');
  right: 12%;
  transform-origin: 40% 12%;
}
.person .person-leg {
  width: 27px;
  height: 65px;
  position: absolute;
  top: 100%;
}
.person .person-leg.person-leg-l {
  -webkit-animation: boogieLeftLeg 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  border-radius: 0px;
  left: 15%;
  background-image: url('../img/newlleg.png');
  transform-origin: 40% 12%;
}
.person .person-leg.person-leg-r {
  -webkit-animation: boogieRightLeg 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-image: url('../img/newrleg.png');
  right: 15%;
  transform-origin: 40% 12%;
}

.person-arm {
    border-radius: 0px;
}

@-webkit-keyframes clockwise {
    0%   {-webkit-transform: rotate(0deg);}
    100%  {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes counterclockwise {
    0%   {-webkit-transform: rotate(360deg);}
    100%  {-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes clapRight {
    0%   {-webkit-transform: rotate(0deg);}
    50%  {-webkit-transform: rotate(-180deg);}
    100%  {-webkit-transform: rotate(0deg);}
}


@-webkit-keyframes clapLeft {
    0%   {-webkit-transform: rotate(0deg);}
    50%  {-webkit-transform: rotate(180deg);}
    100%  {-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes boogieRightLeg {
    0%   {-webkit-transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(-30deg);}
    50%  {-webkit-transform: rotate(0deg);}
    100%  {-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes boogieLeftLeg {
    0%   {-webkit-transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(0deg);}
    50%  {-webkit-transform: rotate(0deg);}
    75%   {-webkit-transform: rotate(30deg);}
    100%  {-webkit-transform: rotate(0deg);}
}



@-webkit-keyframes SNF {
  0%   {transform: rotate(120deg);}

  25% { transform: rotate(120deg); }

  35% { transform: rotate(300deg); }

  45% { transform: rotate(120deg); }

  55% { transform: rotate(300deg); }

  65% { transform: rotate(120deg); }

  75% { transform: rotate(300deg); }

  100%   { transform: rotate(300deg); }
}

@-webkit-keyframes boogie {
    0%   {}
    33%  {left:2px;}
    66%  {left:0px;}
    100%  {}
}





/* Person generics */
.ko {
  margin: 2em;
  display: inline-block;
  width: 70px;
  height: 100px;
  position: relative;
}
.ko > div {
  background: url("") no-repeat center center;
  border-radius: 20%;
  /*border:1px solid blue;*/
}
.ko .ko-head {
  width: 48px;
  height: 60px;
  margin: 0 auto;
  transform-origin: 50% 100%;
  /*border-radius: 50%;*/
  background-image: url('../../../../../hackreactor/2015-02-subclass-dance-party/pic/newShawn.png');
}
.ko .ko-body {
  width: 30px;
  height: 50px;
  background-image: url('../img/ko.body.png');
  margin: 0 auto;
  position: relative;
  z-index: 200;
}
.ko .ko-arm {
  width: 12px;
  height: 40px;
  position: absolute;
  top: 60%;
}
.ko .ko-arm.ko-arm-l {
  background-image: url('../img/ko.Larm.png');
  left: 12%;
  transform-origin: 60% 12%;
}
.ko .ko-arm.ko-arm-r {
  background-image: url('../img/ko.Rarm.png');
  right: 12%;
  transform-origin: 40% 12%;
}
.ko .ko-leg {
  width: 27px;
  height: 65px;
  position: absolute;
  top: 100%;
}
.ko .ko-leg.ko-leg-l {
  background-image: url('../img/ko.Lleg.png');
  left: 10%;
}
.ko .ko-leg.ko-leg-r {
  background-image: url('../../../../../hackreactor/2015-02-subclass-dance-party/pic/ko.Rleg.png');
  right: 10%;
}


}

